html, body {min-height:100%;}
body {
	background-color:#FFFFFF;
	font-size:20px; font-family:sans-serif;
	color:#CCCCCC; text-align:center;
}
			
p {
	margin:0;
}
p.big {font-size:40px;}
	  
a, span {color:#666666;}

h1 {margin:0; font-size:60px; color: #666666;}
